.header-image {
    width: 100%;
}

header {
    position: relative;
    width: 100%;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

nav ul {
    color: darkgreen;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 500px;
    flex-shrink: 1;
    margin: 0 30px;
}

nav a,
nav a:visited,
nav a:link {
    color: darkgreen;
    text-decoration: none;
}


.image-container h1 {
    position: absolute;
    top: 40%;
    left: 60%;
    color: darkgreen;
}

.language-switch {
    display: flex;
}

.language-switch svg {
    display: block;
    width: 30px;
    margin-left: 10px;
}

.active {
    color: red;
}



